*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
}
#cent {
  text-align: center;
  padding: 2rem;
}

h3 {
  font-size: 5rem;
}

h1{
  font-size: 8rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6) ;
  color: white;
  overflow: hidden;
}

.app :before {
  content: '';
  background: url('./picture/Screenshot_20230321_130216_WhatsApp.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search-bar {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255,0.3);
}


::placeholder {
  color: white;
}

.app-contain {
  max-width: 100%;
  height: 85%;
  margin: auto;
  padding: 0 1rem;
  position: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .desc {
  position: relative;
  top: -50%;
  right: -80%;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: rgba(255, 255, 255,0.3);
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}






